html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#maze {
    margin: 0 auto;
    display: none;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;

}

td.top {
    border-top: 4px solid grey;
}

td.right {
    border-right: 4px solid grey;
}

td.bottom {
    border-bottom: 4px solid grey;
}

td.left {
    border-left: 4px solid grey;
}

td.path {
    background-color: green;
}

#loading {
    margin: 0 auto;
    font-style: italic;
    display: none;
}

.dimensions {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

input {
    -webkit-appearance: none;
    height: 50px;
    padding: 10px;
}

input[type=number] {
    font-size: 35px;
    width: 50px;
    background-color: rgb(46, 44, 44);
    color: white;
}

input[type=button] {
    cursor: pointer;
    font-size: 20px;
    height: 74px;
}